{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if object.link %}
        <a href="{{ object.link }}" target="_blank">Link</a>
    {% else %}
        -
    {% endif %}
{% endblock %}