{% extends 'SonataAdminBundle::standard_layout.html.twig' %}
{% block top_bar_after_nav %}

                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="{{ path('admin_wsh_lapi_offer_list')  }} ">Offers</a></li>
                        <li><a href="{{ path('admin_wsh_lapi_offer_list')  }} ">Hot Deals and Featured</a></li>
                        <li><a href="#about">Leads</a></li>
                        <li><a href="#contact">Alerts</a></li>
                    </ul>
                </div><!--/.nav-collapse -->

{% endblock top_bar_after_nav %}
